@{
    ViewBag.Title = "Info";
}
<!--Изменил страницу About и перевёл её. А так же добавил картинку и изменил её размеры. --> 
<h2>@ViewBag.Title.</h2>
<h3>Info lehekülg</h3>

<p>Siin on informatsioon.</p>
<img src="~/Images/creative_wallpaper_stack_of_books_on_the_bench_082401_.jpg" height="550"  width="1140" />