@{
    ViewBag.Title = "Kontakt";
}
<!--Изменил страницу Contact и перевёл её. А так же добавил картинку и изменил её размеры. -->
<h2>@ViewBag.Title.</h2>
<h3>Kontakt lehekülg</h3>

<address>
    Tallinn<br />
    Sõpruse pst 182<br />
    <abbr title="Telefon">P:</abbr>
    58774411
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:raamat@naide.ee">raamat@naide.eem</a><br />
    <strong>Email2:</strong> <a href="mailto:raamatukogu@naide.ee">raamatukogu@naide.ee</a>
</address>
<img src="~/Images/books_flowers_blur_108950_1920x1080.jpg" height="550"  width="1140" />