<img src="" alt="" />@{
    ViewBag.Title = "Pealeht";
}
<!--Изменил страницу Home и перевёл её. Изменил направление кнопки Kliki siia. А так же добавил картинку и изменил её размеры. -->
<div class="jumbotron">
    <h2>Tere tulemast raamatu pealeheküljele!</h2>
    <p class="lead">Siin te saate vaatada erinevaid raamatuid.</p>
    <p><a href="http://localhost:53856/Movies" class="btn btn-primary btn-lg">Kliki siia &raquo;</a></p>
</div>
<img src="~/Images/books-1.jpg" height="515"  width="1140"  />
<div class="row">
</div>